 
 td, th {
    border: solid red;
    border-width: thin;
    padding:10px;
    margin-bottom: 10px;
  }
  
  table {
    width: 50%;

  }
  
  td {
    text-align: justify;
    border-bottom: 2px solid red;
  }

  tr{
    text-align: center;
  }