body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container{
  margin-top: 20px;
}
.container-fluid{
  height: 50%;
  width: 50%;
}

 .observacoes{
  margin-right: 80px;
  float: left;
  width: 110%;
  
}

.form-check{
   margin-left: -149px;
}

