.table{
  
  text-align: left;
  
}

.observacao{
  float: left;
  width: 10%;
}

#icon_delete{
  margin: 10px;
  width: 50px;
  font-size: 20px;
}

#icon_edit{
  font-size: 20px;
  color: inherit;
}

.box-search{
 display: flex; 
 justify-content: center;
 gap: .1%;
 width: 100%;
}

.table-bg{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

body{
  color: white;
  text-align: center;
}

