.container-fluid{
  height: 50%;
  width: 50%;
}

 .observacoes{
  margin-right: 80px;
  float: left;
  width: 110%;
  
}

.form-check{
   margin-left: -149px;
}

.container{
  border-style:solid ;
  border-radius: 10px;
  border-width: thin;
  border-color: rgb(0, 0, 0);
  padding:5px;
  background-color: aquamarine;
  
}

