table, td, th {
    
    margin-left: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    
  }
  
  td {
    text-align: center;
  }

  tr{
    float:none;
    text-align: center;
    margin-left: 100px;
  }