

.input-container{
    width:  25%;
    border: none;
   
}

.col{
  padding: 10%;
}
  
.container-fluid > .box-search > form {
  display: flex;
  flex-direction: row;
  gap: .10%;
}
  
.box-search{
  
    justify-content: center;
    width: 25%;
   }
  
  .table{
    width: 50%;
    text-align: left;
    
  }
  
  .observacao{
    float: left;
    width: 10%;
  }
  

  .input-container > .btn{
    margin-left: 10px;
  }

